@tailwind base;

@tailwind components;
@tailwind utilities;

.content-card {
  max-height: 70vh;
}
.main {
  height: 80vh;
}
.content-cardv2 {
  height: 100%;
  overflow-y: auto;
}
.dropdown-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  max-height: 300px;
  overflow-y: auto;
  justify-content: space-between;
}
.imgtool-icon {
  width: 15px;
  height: 15px;
}
.chevron {
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAACXBIWXMAAAsTAAALEwEAmpwYAAAA1klEQVR4nO2VsQ3CMBQFvQJFGnaizArsxAq07ESRghUORXFhRUTYP992Ir3rE/67E0oIQgghhBBCCLECeAHX0BlgAJ6WB2c+wL3KZXk3jMA0H2J5OKVpDaL19ADLS9Y0qUFi3XtA1Rr8sF5rgHsNNqzXHOBSgz/WWwww18ixvnfADXiTT1aNEuuReeRYPCD+2AV44FSj1DrL0MF0vGeNpta3sB7RzbpjjaLBoQWG/0Zf6xVrTM2sV6jRx7pDjf7Wd9Q4lvWCGse1nvHdOId1IYQQQohwPr4hXgtdC/n/GAAAAABJRU5ErkJggg==');
}
.reset-padding {
  margin-left: -8px;
}
.disabled {
  pointer-events: none;
}
.max-w-50 {
  max-width: 50%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.btn-text {
  cursor: pointer;
  font-family: 'Anton';
  font-weight: 400;
  font-size: 14px;
  color: #ffffff;
  background: #e62e00;
}
.enabled:hover {
  background: #ff8800;
}
.enabled:active {
  background: rgb(255, 208, 0);
  color: #323232;
}
.disabled {
  cursor: none;
  pointer-events: none;
  color: #313131;
  color: #727272;
}

.tab-main {
  font-family: 'Anton';
  font-weight: 400;
  font-size: 12px;
}
.acc-title-comfy {
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 6px;
  z-index: 2;
}
.acc-title {
  font-family: 'Montserrat';
  font-weight: 800;
  font-size: 10px;
}
.bg {
  color: #323232;
  background-color: #fff;
}
.bg-box-light {
  background-color: #272727;
  border-radius: 5px;
}
.box-bg {
  background-color: #1e1e1e;
  border-radius: 5px;
  border: solid 1px #444444;
}
.box-child {
  background-color: #141414;
  border-radius: 5px;
}
.height80vh {
  height: 80vh;
}
.h80vh {
  max-height: 80vh;
}

ul.react-paginate {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
  width: 100%;
  padding: 4px;
}

ul.react-paginate li a {
  border-radius: 1px;
  padding: 2px;
  color: #fff;
  cursor: pointer;
}
ul.react-paginate li.previous a,
ul.react-paginate li.next a,
ul.react-paginate li.break a {
  border-color: transparent;
}
ul.react-paginate li.selected a {
  background-color: #0366d6;
  border-color: transparent;
  color: white;
  padding: 2px;
}
ul.react-paginate li.disabled a {
  color: grey;
}
ul.react-paginate li.disable,
ul.react-paginate li.disabled a {
  cursor: default;
}
